*{
    margin: 0;
    box-sizing: border-box;
}
/* General View design */
body{
    background-color:  #e5eff5;
    font-family: "karla";
}

main{
    padding: 10% 30% 5%;
}
.white-container, .left, .right{
    padding: 5%;
}

/* Overall container */

.container{
     box-shadow: 0px 1px 50px 0 #98a6bd;
     border-radius: 8px;
}


/* top container */

.white-container{
    background-color: white;
    border-radius: 8px 8px 0 0;
}
.white-container h2{
    color: #2ab2af;
}
.lemon-text{
    color: #c0df34;
    padding: 5% 0;
    font-size: 1.2rem;
    font-weight: 500;
}
.gray-text{
    font-size: 1rem;
    line-height: 1.5;
    color: #98a6bd;
    padding-bottom: 10px;
}

/* second container */

.second-container{
    display: flex;
}

/* left container */

.left{
    background-color: #2ab2af;
     width: 100%;
     border-radius: 0 0 0 8px;
}
h3{
    color: white;
}
.sub{
    padding: 5% 0;
    color: #d8dde0;
}
span{
    font-size: 1.9rem;
    padding-right: 3%;
    color: white;
    font-weight: 500;
}
.access{
    color: white;
    padding-bottom: 10%;
}
button{
    color: white;
    width: 100%;
    padding: 12px;
    font-size: .9rem;
    border-radius: 5px;
    border-style: none;
    background-color: #c0df34;
    box-shadow: 0 1px 80px 0 #1a706f;
}

/* right container */

.right{
    background-color: #33bdbb;
     width: 100%;
     border-radius: 0 0 5px 0;
}

ul{
    list-style: none;
    margin-left: -40px;
    padding-top: 5%;
}
li{
    text-align: left;
    line-height: 1.4;
    font-size: .9rem;
    color: #e5eff5;
}

/* Footer / Atrribution */
.attribution {
    text-align: center;
    font-size: .8rem;
    padding: 0 0 3rem;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

.attribution a {
    text-decoration: none;
    font-size: .8rem;
    color: hsl(218, 44%, 22%);
}

/* Mobile view design */


@media (max-width:768px) {
    main{
        padding: 10%;
    }
    .white-container{
    border-radius: 8px 8px 0 0;
}
    .second-container{
        display: block;
    }
    .white-container, .left, .right{
    padding: 8% 10%;
    }
    .right{
        border-radius: 0 0 8px 8px;
    }  
    .left{
     border-radius: 0 0 0 0;
    }
    
}